<a href="https://colab.research.google.com/github/zhizhengwu/csc1001/blob/main/CSC1001_Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In classroom coding

## Case sensitive example

In [ ]:
cuhk_best_lecture = "CSC1001_L1"

Cuhk_Best_Lecture = "CSC3160"

CUHK_Best_Lecture = "CSC3160 or CSC1001 or CSC3100"

print(cuhk_best_lecture)
print(Cuhk_Best_Lecture)
print(CUHK_Best_Lecture)

CSC1001_L1
CSC3160
CSC3160 or CSC1001 or CSC3100

## Asignment example

In [1]:

attendance_of_today = 158 * 0.9

attendance_of_today_2 = (158 * 0.9 == 142)

print(attendance_of_today)
print(attendance_of_today_2)

w = x = y = z = 158 * 0.9 == 142
print("assignment 1:", w, x, y, z)

w = x = y = z = ('A', 'A-', 'B+', 'A')
print("assignment 2:", w, x, y, z)

(w, x, y, z) = ('A', 'A-', 'B+', 'A')
print("assignment 3:", "w -", w, ",x -", x, ",y -", y, ",z -", z)

w, x, y, z = 'A', 'A-', 'B+', 'A'
print("assignment 4:", "w -", w, ",x -", x, ",y -", y, ",z -", z)

142.20000000000002
False
assignment 1: False False False False
assignment 2: ('A', 'A-', 'B+', 'A') ('A', 'A-', 'B+', 'A') ('A', 'A-', 'B+', 'A') ('A', 'A-', 'B+', 'A')
assignment 3: w - A ,x - A- ,y - B+ ,z - A
assignment 4: w - A ,x - A- ,y - B+ ,z - A

## simultanous assignment

In [ ]:

x, y = 99, 19
print(x, y)

x, y = y, x
print(x, y)

temp = x
x = y
y = temp
print(x, y)

99 19
19 99
99 19

## order of operators

In [ ]:
x = 1. + 2. * 3. - 4. / 5. * 6.
# value 1: 6 - ( 3 * 3 - 4 -> 5 / 5 -> 1 * 6 -> 6)
# value 2: 1 + 6 - 4.8 -> 2.2

print(x)

x = (1 + 2) * 3 - 4. / 5. * 6
print(x)

2.1999999999999993
4.199999999999999

# Example of type and type conversion

In [2]:
import numpy as np

x = 1001 * 158 - 20
print(x)
print("x type:", type(x), "with value:", x)

x = 1001. * 158 - 20
print(x)
print("x type:", type(x), "with value:", x)

f = float(x)
print("f type:", type(f), "with value:", f)

s = np.double(x)
print("s type:", type(s), "with value:", s)

i = int(s)
print("i type:", type(i), "with value:", i)

158138
x type: <class 'int'> with value: 158138
158138.0
x type: <class 'float'> with value: 158138.0
f type: <class 'float'> with value: 158138.0
s type: <class 'numpy.float64'> with value: 158138.0
i type: <class 'int'> with value: 158138

In [ ]:
 x = 1000 + 2000

 y = "1000" + "2000" + "csc"

 print(x, type(x))
 print(y, type(y))

 z = int(y)
 print(z)

3000 <class 'int'>
10002000csc <class 'str'>

ValueError: invalid literal for int() with base 10: '10002000csc'

## operators

In [ ]:
x = 2 ** 4 # 2^4
y = 9 % 2 # mod

print(x)
print(y)

16
1

## floor

In [ ]:
import numpy as np

x = 2.29 / 2
y = 2.29 // 2
y2 = np.floor(x)
z = np.floor(2.29)

print(x)
print(y)
print(y2)
print(z)

time = 257
sec_per_min = 60
print(divmod(time, sec_per_min))
print(divmod(sec_per_min, time))

1.145
1.0
1.0
2.0
(4, 17)
(0, 60)

## augmented assignment

In [ ]:
x = 9 - 2
print(x) # 7

x -= 2
print(x) # 5

x += 2
print(x) # 7

x *= 2
print(x) # 14

x /= 2
print(x) # 7

7
5
7
14
7.0

# Example of using input()

In [5]:
'''
CSC1001 students are awesome
this is an example for input
'''
print("Provide a input: ")

x = input()

print("The input is:", x)

Provide a input:
The input is: students from csc1001

## string operators

In [ ]:
s = "csc" + "1001"
ss = s * 3

print(s)
print(ss)

csc1001
csc1001csc1001csc1001

In [ ]:
x = int(1.2)
print(x)

x = int(-1.2)
print(x)


x = int(1.8)
print(x)

x = int(-1.8)
print(x)

1
-1
1
-1