<a href="https://colab.research.google.com/github/zhizhengwu/csc1001/blob/main/Week3_lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 3 Lecture 2

## Try except

In [13]:

temp_str = "hello world"
temp_str_int = "1001"

try:
  print("hello #1")
  print("hello #2")
  num = int(temp_str)
except:
  num = -1
  print("hello #3")
print(num)
print("hello #4")

# print((temp_str))
# print(int(temp_str_int))

hello #1
hello #2
hello #3
-1
hello #4

In [15]:

temp_num = input("input a number")

try:
  num = int(temp_num)
except:
  num = None

if num:
  print("Nice work??")
else:
  print("Invalid number")

input a number-1
Nice work??

In [5]:
try:
  print(x)
except:
  print("An exception occurred")

An exception occurred

## Loop

In [20]:
n = 5

print("start")
# print(n)

while n > 0:
  n -= 1
  print(n)

print("finish")

start
4
3
2
1
0
finish

## Infinite loop

In [31]:
n = 5

print("start")

while n > 0 or 5: # or 5 False or 5 -> True . False or True
  n -= 1
  print(n)

  if n == -5:
    break

# n -= 1

print("finish")

start
4
3
2
1
0
-1
-2
-3
-4
-5
finish

## Continue

In [33]:
n = 10

print("start")

while n > 0:
  n -= 1

  if n == 5:
    continue

  print(n)

print("finish")

start
9
8
7
6
4
3
2
1
0
finish

In [34]:
n = 10

print("start")

while n > 0:
  if n == 5:
    continue

  print(n)
  n -= 1

print("finish")

start
10
9
8
7
6

KeyboardInterrupt:

## For loop

In [45]:

list_of_students = ['Cai Xunkun', 'Jay Chow', 'Tayler Swift', 'Donald Trump', 'Kamala Harris', 'Joe Biden']
student_age = [18, 18, 18, 80, 60, 80]

# for age in student_age:
#   print(age)

# for student_name in list_of_students:
#   print(student_name)

# for i in range(6): # 0 -> 5
for i in [0, 1, 2, 3, 4, 5]:
  print(i, list_of_students[i], student_age[i])

for i, student_name in enumerate(list_of_students):
  print(i, student_name)

# i = 0
# while i <= 5:
#   print(i, list_of_students[i], student_age[i])
#   i += 1

0 Cai Xunkun 18
1 Jay Chow 18
2 Tayler Swift 18
3 Donald Trump 80
4 Kamala Harris 60
5 Joe Biden 80
0 Cai Xunkun
1 Jay Chow
2 Tayler Swift
3 Donald Trump
4 Kamala Harris
5 Joe Biden

## Sum using for-loop

In [46]:
num_list = [17, 18, 18, 19, 20, 20, 21, 80, 60, 80]

total_age = 0

for num in num_list:
  total_age += num # total_age = total_age + num

print("total age: ", total_age)

total age:  353